<p id="notice"><%= notice %></p>
<h1>details</h1>
  <table>
    <p>User: <%= @feed.user.name %></p>
    <p>Title: <%= @feed.title %></p>
    <p>Content: <%= @feed.content %></p>
    <p>Image: </p>
      <%= image_tag @feed.image.url %> 
  </table>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
